#titulo{
    font-size: 50px;
}

#imagem-chuva{
    width: 30%;
    height: 30%;
    border: 5px solid;
}

#imagem-alagamento{
    width: 17%;
    height: 17%;
    border: 5px solid;
}

#subtitulo{
    font-size: 18px;
    color: grey;
    font-style: inherit;
}

#sim{
    font-size: 20px;
    color: grey;
    font-style: inherit;
}

.divGeral{
    display: flex;
    justify-content: center;
}