#titulo{
    font-size: 50px;
}

#imagem-chuva{
    width: 250px;
    height: 250px;
    border: 1px solid;
}

#imagem-alagamento{
    width: 250px;
    height: 250px;
    border: 1px solid;
}

.clima{
    display: flex;
    justify-content: center;
}

#subtitulo{
    font-size: 18px;
    color: grey;
    font-style: inherit;
}

#sim{
    font-size: 20px;
    color: grey;
    font-style: inherit;
}

.divGeral{
    display: flex;
    justify-content: center;
}

.navbar{
    display: flex;
    justify-content: center;
    background-color: rgb(34, 34, 128);
    padding: 16px;
    font-family: sans-serif;
    color: white
}